*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url('upper.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}

.nav-links{
 flex: 1;
 text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.5;
}
.nav-links ul li:hover::after{
width: 100%;
}

.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family:  sans-serif, monospace;
}
.nav-links ul li:hover{
    border: 1px none;
    background: #f44366;
    transition: 0s;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: white;
    font-family: 'Segoe UI';
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-family:  'Trebuchet MS', sans-serif;
}
.hero-btn:hover{
    border: 1px solid #f44366;
    background: #f44366;
    transition: 1s;
}
 
 
/* ............Vision Statement.......*/


.statement{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.statement-col{
    flex-basis: 31%;
    background: #cffcff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.statement-col:hover{
    box-shadow: 0 0 30px 0px rgb(0, 228, 245);
}
p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4{
    font-size: 25px;
    font-family: Georgia;
}
h5{
    font-size: 20px;
}

/*............campus..........*/


.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
h6{
    font-size: 25px;
    font-family: 'fantasy';
    color: #fff;
}

.campus-col img{
    width: 100%;
    display: block;
    height: 250px;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.05s;
}

.layer:hover{
    background: rgba(226, 0, 0, 0.7);
    transition: 0.5s;
}


.layer h6{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    font-family: 'Arial';
}
.layer:hover h6{
    bottom: 49%;
    opacity: 1;
    
}

/*.............facilities...........*/

.facilities{
    width: 250px;
    margin: auto;
    text-align: center;
    padding: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
    width: 250px;
    border-radius: 10px;
    height: 250px;
}
.facilities-col p{
    padding: 20;

}
.facilities-col h3{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
/* ..........footer...........*/

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.fa-brands{
    margin: 0 13px;
    cursor: pointer;
    padding: 18px;
    color: #000000;
}
.fa-brands:hover{
    background: #ffef08;
    transition: 0.5s;
    border-radius: 50%;
    border: 25px;
}


/*.............about us page........*/

.sub-header{
    height: 150vh;
    width: auto 15px;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('Untitled.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;

}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px ;
    padding-bottom: 50px;
}


.about-col{
    flex-basis: 48%;
    padding: 30px 2px;

}

.about-col img{
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.about-col h6{
    padding-right: 50px;
    text-decoration: underline;
    margin: 10px;



}
.about-row h6{
    font-family: 'Times New Roman';
    text-decoration: underline;
}
.red-btn{
    border: 1px solid #f44366;
    background: transparent;
    color: #f44366;
    
}
.red-btn:hover{
    color: white;
    background: #f44366;
    transition: 0.5s;
}

/*..................contact us.............*/


.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    width: 100%;
}
html, body {
    height: 50%;
  }
  
  .wrap {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 250px;
    min-height: 30px;
    display: inline-flex;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, 
  .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .button:hover::before, 
  .button:focus::before {
    opacity: 1;
  }
  
  .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .button:hover::after, 
  .button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
